.breadcrumb{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    a{
        color: #B9B9B9;
        text-decoration: none;
    }
    span{
        color: #000000;
    }
    .icon{
        margin: 0 30px;
        width: 12px;
    }
}