.catalog-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__aside{
        flex: 1 0 350px;
        max-width: 290px;
    }
    &__content{
        flex: 1;
        max-width: 887px;
        background-color: #D6D4D4;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        &.cat_elems_section{
            max-width: 100%;
            .cat_elems{
                max-width: 100%;
            }
            .product-card{
                width: 23.86%;
                max-width: 100%;
                flex: 1 0 calc(25% - 20px);
            }
            .news-list__pagination{
                margin-top: 20px;
            }
        }
    }
    .product-card{
        flex: 1 0 calc(25% - 20px);
        max-width: 25%;
    }
    @include r(1023){
        background-color: #D6D4D4;
        padding: 20px;
        width: 100vw;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
        &__content{
            flex: 1 0 100%;
            max-width: 100%;
        }
    }
    @include r(767){
        &__content{
            &.cat_elems_section{
                .product-card{
                    width: 100%;
                    flex: 1 0 calc(50% - 20px);
                }
            }
        }
    }
}