.ermak-center-invest{
  margin-top: 60px;
  &__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1046px;
    margin: 0 auto;
  }
  &__left{
    max-width: 335px;
    .ermak-center-invest__item{
      margin-bottom: 30px;
      padding: 60px;
      text-align: center;
    }
  }
  &__right{
    max-width: 571px;
  }
  &__item{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF7101;
    padding: 14px 10px 11px;
    border: 1px solid #FF7101;
    margin-bottom: 38px;
    &:last-of-type{
      margin-bottom: 0;
    }
    span{
      color: #000000;
    }
  }
  &__okupaemost{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    padding: 13px 13px;
  }
}