.footer{
    background-color: #000000;
    padding: 48px 0 50px;
    color: #fff;
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            font-weight: 400;
            font-size: 12px;
            line-height: 5px;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            color: #FFFFFF;
            text-decoration: none;
            transition: color .3s ease;
            &:hover{
                transition: color .3s ease;
                color: #FF7101;
            }
        }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 5px;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            color: #FFFFFF;
            margin: 0;
        }
    }
    &__menu{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            margin-bottom: 47px;
            &:last-of-type{
                margin-bottom: 0;
            }
            a{
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                text-decoration: none;
                color: #ffffff;
                transition: color .3s ease;
                &:hover{
                    transition: color .3s ease;
                    color: #FF7101;
                }
            }
        }
    }
    &__contacts{
        &>a{
            font-weight: 900;
            font-size: 16px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            text-decoration: none;
            display: block;
            margin-bottom: 47px;
            transition: color .3s ease;
            &:hover{
                transition: color .3s ease;
                color: #FF7101;
            }
        }
    }
}