.header {
    background-color: #000000;
    &__top{
        background-color: #ffffff;
        padding-top: 30px;
        padding-bottom: 18px;
    }
    &__top-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bottom{
        padding-top: 16px;
        padding-bottom: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__links{
        a{
            font-weight: 700;
            font-size: 12px;
            line-height: 5px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FF7101;
            text-decoration: none;
            margin-right: 100px;
        }
    }
    &__menu{
        margin-right: 0;
        margin-left: auto;
    }
    &__search{
        margin-left: 36px;
    }
}