.header {
    background-color: #000000;
    &__top{
        background-color: #ffffff;
        padding-top: 30px;
        padding-bottom: 18px;
    }
    &__top-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bottom{
        padding-top: 16px;
        padding-bottom: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    &__social{
        margin-right: 20px;
    }
    &__links{
        flex: auto;
        max-width: 990px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FF7101;
            text-decoration: none;
            transition: color .3s ease;
            &:hover{
                transition: color .3s ease;
                color: #000000;
            }
        }
    }
    &__menu{
        margin-right: 0;
        margin-left: auto;
    }
    &__search{
        margin-left: 36px;
    }
    &__search-btn,
    &__menu-btn{
        display: none;
    }

    @include r(1159){

    }
    @include r(1023){
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 20;
        &__top,
        &__menu,
        &__search{
           display: none;
        }
        &__bottom{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__logo{
            max-width: 145px;
        }
        &__search-btn{
            display: block;
            background-image: url("../img/search-btn-mob.png");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin-right: 40px;
            margin-left: auto;
        }
        &__menu-btn{
            display: block;
            background-image: url("../img/header-menu-btn.png");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 18px;
            height: 16px;
        }
    }
}