.main-articles{
    margin-bottom: 52px;
    &__header{
        margin-bottom: 39px;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #232020;
        margin: 0 0 0 107px;
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    &__body{
        background-color: #D6D4D4;
        padding: 20px;
        width: 100vw;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1400px;
        margin: 0 auto;
    }
    &__col{
        flex: 1 0 calc(33.333% - 20px);
        max-width: 33.333%;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    &__item{
        background-color: #ffffff;
        padding: 24px 20px;
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        &--row{
            display: flex;
            gap: 20px;
            align-items: center;
            flex-direction: row;
            .main-articles__figure{
                flex: 1 0 calc(50% - 28px);
                max-width: 188px;
                margin: 0;
                text-decoration: none;
            }
            .main-articles__content{
                margin-bottom: 0;
            }
        }
    }
    &__content{
        margin-bottom: 19px;
    }
    &__name{
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        margin: 0;
        text-decoration: none;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-decoration: none;
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    &__anons{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
        margin: 12px 0 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
    }
    &__figure{
        margin: auto 0 0;
        text-decoration: none;
        img{
            width: 100%;
            display: block;
        }
    }
    &__footer{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__all{
        margin-left: auto;
        margin-right: 0;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        .icon{
            margin-right: 0;
            margin-left: 44px;
        }
    }
    &__slider-mob{
        display: none;
    }
    @include r(1023){
        &__name{
            font-size: 12px;
            line-height: 16px;
        }
    }
    @include r(767){
        margin-bottom: 25px;
        &__title{
            font-size: 20px;
            margin: 0;
        }
        &__row{
            display: none;
        }
        &__slider-mob{
            display: block;
        }
    }
}