.menu-header{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        margin-right: 45px;
        &:last-of-type{
            margin-right: 0;
        }
        &:hover{
            ul{
                display: block;
            }
        }
        a{
            font-weight: 900;
            font-size: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            transition: color .3s ease;
            &:hover{
                transition: color .3s ease;
                color: #FF7101;
            }
        }
        ul{
            position: absolute;
            top: calc(100% - 46px);
            z-index: 11;
            margin: 0;
            padding: 50px 16px 40px;
            list-style: none;
            background-color: rgba(0, 0, 0, 0.9);
            columns: 2;
            max-height: 482px;
            display: none;
            li{
                margin: 0;
                max-width: 400px;
                a{
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 40px;
                }
            }

        }
    }

    @include r(1159){
        li{
            margin-right: 20px;
            a{
                font-size: 14px;
            }
        }
    }
}