.menu-mob-header {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  height: calc(100vh - 157px);
  background-color: #000000;
  z-index: 10;
  overflow: hidden;
  &.show{
    display: block;

  }
  &__body {
    padding:23px 32px;
    overflow: auto;
    height: 100%;
    a{
      color: #ffffff;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      display: block;
      text-decoration: none;
      margin-bottom: 35px;
    }
  }
}