.menu-header{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        margin-right: 45px;
        &:last-of-type{
            margin-right: 0;
        }
        a{
            font-weight: 900;
            font-size: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            transition: color .3s ease;
            &:hover{
                transition: color .3s ease;
                color: #FF7101;
            }
        }
    }
    @include r(1159){
        li{
            margin-right: 20px;
            a{
                font-size: 14px;
            }
        }
    }
}