.partners-slider{
    margin-bottom: 52px;
    &__header{
        margin-bottom: 39px;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #232020;
        margin: 0 0 0 107px;
    }
    .swiper-wrapper{
        align-items: center;
        img{
            margin: 0 auto;
            display: block;
        }
    }
}