.partners {
  padding-bottom: 59px;
  &--ermak-center{
    margin-top: 60px;
    padding: 60px 0;
    background: url("../img/partners-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color:rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
    }
    .container{
      position: relative;
    }
    .breadcrumb{
      color: #ffffff;
      a{
        &:after{
          border-left: 8px solid #ffffff;
        }
      }
    }
    .form-partners{
      margin: 0 auto;
      .form-group{
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
  .form-partners {
    max-width: 690px;

    .form-group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 48px;
      position: relative;
      gap: 20px;
    }
    .form-control {
      flex: 1 0 calc(50% - 20px);
      border: none;
      background-color: transparent;
      border-bottom: 2px solid #FF7101;
      color: #fff;
      &::placeholder{
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }

    .btn {
      width: 100%;
      max-width: 355px;
      margin: 0 auto;
      display: block;
      background-color: #232020;
    }

    .checkbox-other {
      span {
        line-height: 18px;
        color: #FFFFFF;
        padding: 0;

        &:before {
          display: inline-block;
          position: relative;
          border: 1px solid #FF7101;
        }
      }
    }
  }
  @include r(767){
    .form-partners {
      .form-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 48px;
        position: relative;
        gap: 20px;
      }
      .form-control {
        flex: 1 0 100%;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #FF7101;
        color: #fff;
      }

      .btn {
        width: 100%;
        max-width: 355px;
        margin: 0 auto;
        display: block;
        background-color: #232020;
      }

      .checkbox-other {
        span {
          line-height: 18px;
          color: #FFFFFF;
          padding: 0;

          &:before {
            display: inline-block;
            position: relative;
            border: 1px solid #FF7101;
          }
        }
      }
    }
  }
}