.product-slider{
    margin-bottom: 52px;
    &__header{
        margin-bottom: 39px;
    }
    &__title{
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #232020;
        margin: 0 0 0 107px;
        &.ml-0{
            margin-left: 0;
        }
    }
    &__body{
        background-color: #D6D4D4;
        padding: 20px;
        width: 100vw;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
    }
    &__footer{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__all{
        margin-left: auto;
        margin-right: 0;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        .icon{
            margin-right: 0;
            margin-left: 44px;
        }
    }
    .swiper-product-slider{
        overflow: hidden;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
    @include r(767){
        margin-bottom: 37px;
        &__header{
            margin-bottom: 18px;
        }
        &__title{
            font-size: 20px;
            margin: 0;
        }
    }
}