.product-card{
    background: #FFFFFF;
    flex: 1 0 216px;
    max-width: 216px;
    position: relative;
    &__img,
    .embed-responsive-item{
        padding: 16px;
        display: flex;
        justify-content: center;
    }
    &__stick{
        position: absolute;
        top: 14px;
        left: 15px;
        z-index: 10;
        font-weight: 400;
        font-size: 13px;
        line-height: 159.99%;
        color: #000000;
        span,a{
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            margin-right: 5px;
            background-color: #000000;
            padding: 3px 5px;
        }
        .action{
            color: #C60505;
        }
        .new{
        }
    }
    &__figure{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        img{
            display: block;
            margin: 0 auto;
            height: 100%;
        }
    }
    &__content{
        padding: 16px;
        position: relative;
        flex: 1;
    }
    &__articul{
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 8px;
    }
    &__name{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        text-transform: uppercase;
        -webkit-box-orient: vertical;
        margin: 0 0 8px;
        text-decoration: none;
        transition: color .3s ease;
        &:hover{
            transition: color .3s ease;
            color: #FF7101;
        }
    }
    &__price{
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
    }
    &__btn{
        font-weight: 800;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        transition: color .3s ease;
        &:hover{
            transition: color .3s ease;
            color: #FF7101;
        }
    }
}