<div class="footer">
    <div class="container">
        <div class="footer__top">
            <ul class="footer__menu">
                <li><a href="">о бренде</a></li>
                <li><a href="">новости</a></li>
                <li><a href="">где купить</a></li>
            </ul>

            <ul class="footer__menu">
                <li><a href="">ермак-центр</a></li>
                <li><a href="">стать партнёром</a></li>
                <li><a href="">сервисные центры</a></li>
            </ul>
            <ul class="footer__menu">
                <li><a href="">видео</a></li>
                <li><a href="">скачать</a></li>
                <li><a href="">контакты</a></li>
            </ul>

            <div class="footer__contacts">
                <a href="tel:8 800 555 555 555">8 800 555 555 555</a>
                <a href="mailto:info@ermak.com">info@ermak.com</a>
                <div class="footer__social">
                    <div class="social social--footer">
                        <a href="#"><i class="icon icon-dzen-white"></i></a>
                        <a href="#"><i class="icon icon-odnoklasniki-white"></i></a>
                        <a href="#"><i class="icon icon-vkontakte-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p>© 2023 Ермак — честный инструмент</p>
            <a href="">политика конфиденциальности</a>
        </div>
        <div class="footer__mob">
            <div class="footer__menu-btn"></div>
            <div class="footer__social">
                <a href="">
                    <img class="img-fluid" src="../img/footer-dzen.png" width="20" height="21" alt="">
                </a>
                <a href="">
                    <img class="img-fluid" src="../img/footer-odnoklassniki.png" width="12" height="20" alt="">
                </a>
                <a href="">
                    <img class="img-fluid" src="../img/footer-vkontakte.png" width="21" height="12" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="menu-mob-footer">
        <div class="menu-mob-footer__body">
            <a href="">выберете свой город</a>
            <div>
                <a href="">о бренде</a>
                <a href="">новости</a>
                <a href="">видео</a>
                <a href="">контакты</a>
            </div>
        </div>
    </div>
</div>
