<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-body">
                <div class="header__social">
                    <div class="social">
                        <a href="#"><i class="icon icon-dzen-orange"></i></a>
                        <a href="#"><i class="icon icon-odnoklasniki-orange"></i></a>
                        <a href="#"><i class="icon icon-vkontakte-orange"></i></a>
                    </div>
                </div>
                <div class="header__links">
                    <a href="">о бренде</a>
                    <a href="">новости</a>
                    <a href="">видео</a>
                    <a href="">контакты</a>
                    <a href="">выберете свой город <i class="icon icon-triagle-orange"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__bottom">
            <a href="" class="header__logo">
                <img src="./img/logo-ermak-white.svg" width="215" height="43" alt="">
            </a>
            <div class="header__menu">
                <ul class=" menu-header">
                    <li><a href="">каталог</a></li>
                    <li><a href="">ермак-центр</a></li>
                    <li><a href="">где купить</a></li>
                    <li><a href="">сервисные центры</a></li>
                </ul>
            </div>
            <div class="header__search">
                <form class=" search-header" action="">
                    <input class="search-header__input" type="text" placeholder="найти">
                    <input class="search-header__submit" type="submit" value="">
                </form>
            </div>
        </div>
    </div>
</header>