<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-body">
            <div class="header__social social-header">
            <a href="#"><i class="icon icon-dzen-orange"></i></a>
            <a href="#"><i class="icon icon-odnoklasniki-orange"></i></a>
            <a href="#"><i class="icon icon-vkontakte-orange"></i></a>
        </div>
            <div class="header__links">
                <a href="">о бренде</a>
                <a href="">новости</a>
                <a href="">видео</a>
                <a href="">контакты</a>
                <a href="">выберете свой город <i class="icon icon-triagle-orange"></i></a>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__bottom">
            <a href="" class="header__logo">
                <img src="./img/logo-ermak-white.svg" width="215" height="43" alt="">
            </a>

            <ul class="header__menu">
                <li><a href="">каталог</a></li>
                <li><a href="">ермак-центр</a></li>
                <li><a href="">где купить</a></li>
                <li><a href="">сервисные центры</a></li>
            </ul>

            <form class="header__search" action="">

            </form>
        </div>
    </div>
</header>