<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-body">
                <div class="header__social">
                    <div class="social">
                        <a href="#"><i class="icon icon-dzen-orange"></i></a>
                        <a href="#"><i class="icon icon-odnoklasniki-orange"></i></a>
                        <a href="#"><i class="icon icon-vkontakte-orange"></i></a>
                    </div>
                </div>
                <div class="header__links">
                    <a href="">о бренде</a>
                    <a href="">новости</a>
                    <a href="">видео</a>
                    <a href="">контакты</a>
                    <a href="">выберете свой город <i class="icon icon-triagle-orange"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__bottom">
            <a href="" class="header__logo">
                <img class="img-fluid" src="./img/logo-ermak-white.svg" width="215" height="43" alt="">
            </a>
            <div class="header__menu">
                <ul class="menu-header">
                    <li>
                        <a href="">каталог</a>
                        <ul class="menu-header__dropdown">
                            <li><a href="">Отвертки</a></li>
                            <li><a href="">Замки</a></li>
                            <li><a href="">Слесарный инструмент</a></li>
                            <li><a href="">Столярный инструмент</a></li>
                            <li><a href="">Строительная химия</a></li>
                            <li><a href="">Шарнирно-губцевый инструмент</a></li>
                            <li><a href="">Шлифовальный инструмент. Напильники</a></li>
                            <li><a href="">Автоинструмент</a></li>
                            <li><a href="">Все для отделочных работ</a></li>
                            <li><a href="">Измерительный инструмент</a></li>
                            <li><a href="">Инструменты, прочее</a></li>

                            <li><a href="">Клейкие ленты, скотчи, пленки</a></li>
                            <li><a href="">Малярно-штукатурный инструмент</a></li>
                            <li><a href="">Молотки и топоры</a></li>
                            <li><a href="">Оснастка для электроинструмента</a></li>
                            <li><a href="">Сопутствующие товары</a></li>
                            <li><a href="">Средства индивидуальной защиты</a></li>
                            <li><a href="">Щетки проволочные, металлические</a></li>
                            <li><a href="">Электроинструмент</a></li>
                        </ul>
                    </li>
                    <li><a href="">ермак-центр</a></li>
                    <li><a href="">где купить</a></li>
                    <li><a href="">сервисные центры</a></li>
                </ul>
            </div>
            <div class="header__search">
                <form class=" search-header" action="">
                    <input class="search-header__input" type="text" placeholder="найти">
                    <input class="search-header__submit" type="submit" value="">
                </form>
            </div>
            <div class="header__search-btn"></div>
            <div class="header__menu-btn"></div>
        </div>
    </div>
    <div class="menu-mob-header">
        <div class="menu-mob-header__body">
            <a href="">выберете свой город</a>
            <div>
                <a href="">Отвертки</a>
                <a href="">Замки</a>
                <a href="">Слесарный инструмент</a>
                <a href="">Столярный инструмент</a>
                <a href="">Строительная химия</a>
                <a href="">Шарнирно-губцевый инструмент</a>
                <a href="">Шлифовальный инструмент. Напильники</a>
                <a href="">Автоинструмент</a>
                <a href="">Все для отделочных работ</a>
                <a href="">Измерительный инструмент</a>
                <a href="">Инструменты, прочее</a>
                <a href="">Отвертки</a>
                <a href="">Замки</a>
                <a href="">Слесарный инструмент</a>
                <a href="">Столярный инструмент</a>
                <a href="">Строительная химия</a>
                <a href="">Шарнирно-губцевый инструмент</a>
                <a href="">Шлифовальный инструмент. Напильники</a>
                <a href="">Автоинструмент</a>
                <a href="">Все для отделочных работ</a>
                <a href="">Измерительный инструмент</a>
                <a href="">Инструменты, прочее</a>
            </div>
        </div>
    </div>
    <div class="search-mob-header">
        <div class="search-mob-header__body">
            <form action="">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="введите ваш запрос">
                </div>
            </form>
            <div class="swiper swiper-search-mob">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="img-fluid" src="https://placehold.co/360x330" width="360" height="330" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img class="img-fluid" src="https://placehold.co/360x330" width="360" height="330" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</header>