
.tabs {
    margin: 20px 0;
    &__caption {
        margin: 0 0 35px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap:20px 140px;
        li {
            transition: all 0.3s ease;
            text-align: center;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-right: 18px;
            &:after {
                content: "";
                position: absolute;
                top: 3px;
                right: -4px;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 8px solid #000000;
                border-bottom: 5px solid transparent;
            }
            &.active {
                &:after {
                    transform: rotate(90deg);
                }
                a{
                    font-weight: 700;
                }
            }
            &:hover {
                transition: all 0.3s ease;
                opacity: 0.7;
            }
            a{
                text-decoration: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #000000;
            }
        }
    }
    &__content {
        display: none;
        background-color: #fff;
        border-radius: 20px;
        padding: 0;
        position: relative;
        &.active {
            display: block;
        }
    }
}


.tabs-only {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;

    &>input[type="radio"] {
        display: none;
        &:checked + .tabs-only__label {
            font-weight: 700;
            &:after {
                transform: rotate(90deg);
            }
        }
    }
    &__content {
        display: none;
        order: 99;
        flex-grow: 1;
        width: 100%;
        margin: 35px 0 0;
    }
    &__label {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        position: relative;
        padding-right: 18px;
        margin-right: 140px;
        &:after {
            content: "";
            position: absolute;
            top: 3px;
            right: -4px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 8px solid #000000;
            border-bottom: 5px solid transparent;
        }
        &:last-of-type{
            margin-right: 0;
        }
    }
    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2,
    #tab-btn-3:checked~#content-3,
    #tab-btn-4:checked~#content-4 {
        display: block;
    }
    @include r(767){
        &__label {
            flex: 1 0 100%;
            max-width: 50%;
            font-size: 12px;
            line-height: 18px;
            margin-right: 0;
        }
        &__content {
            order: 0;
            margin: 10px 0;
        }
    }
}
/*
<div class="tabs-only">
    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
    <label for="tab-btn-1">Вкладка 1</label>
    <input type="radio" name="tab-btn" id="tab-btn-2" value="">
    <label for="tab-btn-2">Вкладка 2</label>
    <input type="radio" name="tab-btn" id="tab-btn-3" value="">
    <label for="tab-btn-3">Вкладка 3</label>

    <div id="content-1">
      Содержимое 1...
    </div>
    <div id="content-2">
      Содержимое 2...
    </div>
    <div id="content-3">
      Содержимое 3...
    </div>
  </div>
*/

/*
<div class="tabs">
    <ul class="tabs__caption">
        <li class="active"><a href="#tab1">таб 1</a></li>
        <li class=""><a href="#tab2">таб 2</a></li>
    </ul>
    <div id="tab1" class="tabs__content active">1</div>
    <div id="tab2" class="tabs__content">2</div>
</div>
*/